.tableContainer {
    width: 88.928%;
    height: 79.266%;
}
.tableContainer table{
    width: 100%;
    height: 100%;
    color: grey;
    border-spacing: 0;
}
.tableHeader {
    width: 100%;
    height: 17.862%;
}
.ghost {
    width: 32.999%;
}
thead th {
    top: 10%;
    position: sticky;
    border-bottom: 1px solid #b4b4b8;
    background-color: #040814;
}
.imageContainer {
    height: 10vh;
    width: 28.446%;
    position: relative;

}
.imageContainer img{
    width: 100%;
    height: fit-content;
}
tbody {
    height: 71.302%;
}
.row {
    height: 117px;
    border-bottom: 1px solid #383a43; 
    font-family: 'AvenirNextLTProRegular';
}
.row:last-child{
    background-color: #1d1f2b;
}
tbody tr {
    height: 8.913%;
}
.head1 {
    width: 33.501%; 
    border-top: 1px solid #383a43;
    background-color: #1d1f2b;
}
.head2 {
    width: 33.501%;
    border-top: 1px solid #383a43
}
.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.headerContainer p {
    color: white;
    font-weight: 400; 
    font-family: 'AvenirNextLTProRegular';
}
.element {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.element:first-child {
    justify-content: center;
    text-align: start;
}
.icon {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.icon svg {
    width: 5%;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100vw;
    }
    .ghost {
        width: 0vw;
    }
    .head1 {
        width: 50%;
    }
    .head2 {
        width: 50%;
    }
    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 117px;
    }
    .rowTitle{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .rowTitle p {
        width: 100%;
        margin-left: 50%;
        color: white;
        font-weight: 400; 
        font-family: 'AvenirNextLTProRegular';
    }
    .subcolumn1 {
        width: 50%;
        border-bottom: 1px solid #383a43; 
    }

    .subcolumn2 {
        width: 50%;
        border-bottom: 1px solid #383a43; 
    }
}