.table-container {
    width: 88.928%;
    height: 79.266%;
    margin-left: 5.536%;
}
.table-container table{
    width: 100%;
    height: 100%;
    color: grey;
}
.table-header {
    width: 100%;
    height: 17.862%;
}
thead th {
    top: 10%;
    position: sticky;
    border-bottom: 1px solid #b4b4b8;
    background-color: #040814;
}
.image-container {
    height: 10vh;
    width: 28.446%;
    position: relative;

}
.image-container img{
    width: 100%;
    height: fit-content;
}
tbody {
    height: 71.302%;
}
.row {
    height: 117px;
    border-bottom: 1px solid #383a43; 
    font-family: 'AvenirNextLTProRegular';
}
.row:last-child{
    background-color: #1d1f2b;
}
tbody tr {
    height: 8.913%;
}
.element {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.element:first-child {
    justify-content: center;
    text-align: start;
}
.icon {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.icon svg {
    width: 5%;
}