@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../../fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('truetype');
    /* You can add other font-related properties here, such as font-weight and font-style */
  }
.normal-button{
    border-radius: 3px;
    width: 100%;
    font-family: 'AvenirNextLTProRegular', sans-serif;
}
.normal-button:hover{
    filter: brightness(1.1);
}
.normal-button:active{
    filter: brightness(0.8);
    border: 0px;
    border-color: transparent;
}
.login-button{
    width: 100%;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 3px;
    width: fit-content;
    font-family: 'AvenirNextLTProRegular', sans-serif;
}
.login-button:hover{
    filter: invert(0.9);
    border-color: white;
}
.login-button:active{
    border: 0px;
    border-radius: white;
    border-radius: 3px;
}