.section7 {
    width: 88.6924076%;;
    padding: 5.6vw;
    height: auto;
}
.section7 h2 {
    width: 100%;
    font-family: 'JannaLTBold';
    color: white;
    font-size: 250%;
    text-align: center;
}
.section7 ul {
    list-style: none;
    width: 88.6924076%;
    margin-bottom: 1%;
}
.section7 ul li {
    margin-bottom: 1%;
}