.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.mini-container {
    width: 39%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mini-container img{
    width: 45%;
    height: auto;
}
.mini-container-2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 0.5%;
}
.mini-container-2 img {
    width: 19.616%; 
    height: 90%; 
    object-fit: cover;
    image-rendering: auto;
}
.ghost{
    width: 30%;
}

