.container-5 {
    width: 88.694%;
    height: auto;
    padding: 5.653%;
    display: flex;
    position: relative;
}
.container-5 img{
    width: 99%;
    height: auto;
}
.text-container h2 {
    font-family: 'JannaLTBold';
    color: white;
    font-size: 250%;
    text-align: left;
}
.text-container p {
    font-family: 'AvenirNextLTProLight';
    color: #bebebe;
    font-size: 120%;
    text-align: left;
}
.text-container {
    width: 50%;
    height: 100%;
    right: 8%;
    top: 0%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    justify-content: center;
}