body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #040814;
}
@font-face {
  font-family: 'AvenirNextLTProRegular';
  src: url('/src/fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('truetype');
  /* You can add other font-related properties here, such as font-weight and font-style */
}
@font-face {
  font-family: 'AvenirNextLTProBold';
  src: url('/src/fonts/AvenirNext/AvenirNextLTPro-Bold.otf') format('truetype');
  /* You can add other font-related properties here, such as font-weight and font-style */
}
@font-face {
  font-family: 'AvenirNextLTProIt';
  src: url('/src/fonts/AvenirNext/AvenirNextLTPro-It.otf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextLTProLight';
  src: url('/src/fonts/AvenirNext/avenirnextltpro-light.woff.ttf') format('truetype');
}
@font-face {
  font-family: 'JannaLTBold';
  src: url('/src/fonts/JannaBold/JannaLTBold.ttf') format('truetype');
  /* You can add other font-related properties here, such as font-weight and font-style */
}

.janna-font{
  font-family: 'JannaLTBold', sans-serif;
}
.avenir-next-regular-font {
  font-family: 'AvenirNextLtProRegular', sans-serif;
}
.avenir-next-italic-font {
  font-family: 'AvenirNextLtProIt', sans-serif;
}
/* @media screen and (min-width: 601px) {
  p {
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 30px;
  }
} */